/* Your Website Styles */
header	{
font-family: 'Istok Web', sans-serif;
}

body{
	background: url(../img/nature.jpg);
	font-family: 'Istok Web', sans-serif;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: upper-center;
	background-size: 2000px 1242px;
}

h2 {
	font-size: 20px;
	font-family: 'Arapey', serif;
	color: #ffffff;
	border-bottom: solid #ffffff;
	margin-bottom: 10px;
	margin-top: 15px;
	width: 150px;
	padding-bottom: 3px;

}

h1 a {
	background: url(../img/logo.png) no-repeat;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	max-width:15%;
	max-height:50%;
	background-size: contain;
	margin-top: 14px;
	margin-left: 25px;
	height: 50px;
	}


p {
	color: #ababab;
}

#info {
	padding-top: 50px;
}

.profile-pic {
width: 70%;
margin-top: 15px;
float: left;
margin-left: 100px;

}

.profile-pic:hover {
	border: solid #ffffff;
	transition: .25s ease-in-out;
	background-image: url("img/shock2.jpg");
}

#banner {
	text-align: center;
	height: 100px;
	font-size: 220px;
	color: #ffffff;
	font-family: 'Arapey', serif;;
	height: 65px;
	padding-bottom: 70px;
	font-style: italic;
	padding-top: 40px;
	opacity: .04;
	pointer-events: none;

}

#navigationlinks {
	font-family: 'Arapey', serif;
	height: 59px;
	position: fixed;
	float: right;
	width: 1000px;
}


#navigationlinks ul
{
font-family: 'Istok Web', serif;
margin: 0;
padding: 0;
list-style-type: none;
text-align: right;
font-size: 20px;
word-spacing: 20px;
float: right;
}


#navigationlinks ul li { 
	display: inline; 
	font-size: 50px;

	
}
#navigationlinks ul li a {
text-decoration: none;
font-size: 20px;
color: #ffffff;
}

#navigationlinks ul li a:hover {
color: #ababab;
}

#about {
text-align: left;

}

#major {
text-align: left;
color: #ffffff;
display: inline-block;

}

#hobbies {
	text-align: left;
	color: #ffffff;   
}











/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}