/* Your Website Styles */
header	{
color: #ababab;
font-family: 'Oswald', sans-serif;
}

body{
	background: url(../img/trees.jpg);
	font-family: 'Istok Web', sans-serif;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2000px 1242px;
}

h1 a {
	background: url(../img/logo.png) no-repeat;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	max-width:15%;
	max-height:50%;
	background-size: contain;
	margin-top: 14px;
	margin-left: 25px;
	height: 50px;
	}

header {
	height: 76px;
}

#image {
	margin-top: 15px;

}

#image:hover {
	border-radius: 20%;
	transition: all .25s ease-in-out;
}


#banner {
	text-align: center;
	height: 100px;
	font-size: 210px;
	color: #ffffff;
	font-family: 'Arapey', serif;;
	height: 65px;
	padding-bottom: 90px;
	font-style: italic;
	padding-top: 40px;
	opacity: .15;
	pointer-events: none;

}

#navigationlinks {
	font-family: 'Arapey', serif;
	height: 59px;
	position: absoulute;
	float: right;
	width: 1000px;
}


#navigationlinks ul
{
font-family: 'Istok Web', serif;
margin: 0;
padding: 0;
list-style-type: none;
text-align: right;
font-size: 20px;
word-spacing: 20px;
float: right;
}


#navigationlinks ul li { 
	display: inline; 
	font-size: 50px;

	
}
#navigationlinks ul li a {
text-decoration: none;
font-size: 20px;
color: #ffffff;
}

#navigationlinks ul li a:hover {
color: #ababab;
}



.section {
	margin: 0 auto 0 auto;
}

