/* Your Website Styles */
header	{
color: #2c2d70;
font-family: 'Crete Round', sans-serif;
}

body{
	background: url(../img/bg.png);
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

h1 a {
	background: url(../img/LogoF.png) no-repeat;
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	max-width:15%;
	max-height:50%;
	background-size: contain;
	margin-top: 14px;
	margin-left: 25px;

}


h2:nth-child(4) {
    padding-bottom: 21px;
    border-bottom: 20px;
    }

h2 {
	margin-bottom: 0px;
	font-size: 45px;
	font-family: 'Crete Round', sans-serif;
	color: #2c2d70;
	border-bottom: solid #73cbcc;
	width: 350px;
}
#contact {
	display: block;
text-align: justify;
margin-left: 10px;
margin-top: 15px;
margin-right: 0px;
color: #2c2d70;

}

#contact li {
 padding-top: 2px;
 color: black;
 font-family: 'Raleway', sans-serif;
}

#skills {
text-align: justify;
margin-left: 0px;
margin-top: 15px;
color: #2c2d70;
}

#skills li {
 padding-top: 2px;
 color: black;
}

#work-ed  {
	text-align: justify;
	}

#work-ed dd {
	font-family: 'Raleway', sans-serif; font-weight: 300;
	color: black;

}

#work-ed dl dt {
	font-size: 30px;
	font-family: 'Crete Round', sans-serif;
	color: #2c2d70;
}



#banner {
	text-align: center;
	height: 100px;
	font-size: 115px;
	color: #73cbcc;
	padding-bottom: 40px;
	font-family: 'Crete Round', serif;

}

header {
	background: #2c2d70;
	height: 76px;
}

#navigationlinks {
	height: 59px;
}

#navigationlinks ul {
font-family: 'Raleway', sans-serif;
margin: 0;
padding: 0;
list-style-type: none;
text-align: right;
font-size: 20px;
word-spacing: 10px;
margin-right: 80px;

}


#navigationlinks ul li { 
	display: inline-block; 
	font-size: 50px;

	
}
#navigationlinks ul li a {
text-decoration: none;
font-size: 20px;
color: #73cbcc;
}





/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}